.shootingArea {
  border-right: 1px dotted var(--accent-color);
  height: 100vh;
  width: calc(100vw - 200px);
  background-image: radial-gradient(var(--accent-color) 1px, white 1px);
  background-size: 20px 20px;
}

:host ::ng-deep {
  .p-dialog-content {
    overflow: visible;
  }

  .p-colorpicker-preview {
    width: 200px;
  }
}
